<!-- se renderiza con el parametro del titulo -->
<%= render 'form', titulo: "Editar Artículo"%>

<div class="col-sm-12 text-center">
	<%= link_to "Ver Artículo", article_path(@article), class: "" %>
</div>

