<h2>Editar artículo</h2>

<!-- Muestra los mensajes de error de 
las validaciones del modelo, esto se puede comprobar por consola. -->
<%= render 'form'%>

<p>
	<%= link_to "Ver Artículo", article_path(@article) %>
</p>

