<div class="row">
	<div class="col-md-6">
		<h1>Artículos</h1>
		<hr>
	</div>
	<div class="col-md-6 text-right">
		<%= link_to raw("Nuevo Artículo <span class='glyphicon glyphicon-plus'></span>"), new_article_path, class: "btn btn-primary"%>
	</div>	
</div>

<!-- Esto se añade para la paginacion-->

<%= render 'article', objt: @articles %>

<div class="text-center">
	<%= will_paginate%>
</div>
