<!-- se muestra todo lo que se halla cargado en la variable global -->
<h1><%= @article.tittle %></h1> 
<br>
<p><%= @article.description %></p>

<p>
	<%= link_to "Editar Artículo", edit_article_path(@article) %>
</p>  
