<!-- se muestra todo lo que se halla cargado en la variable global -->
<h1><%= @article.tittle %></h1> 
<hr>
<p><%= @article.description %></p>

<hr>
<div class="col-sm-12">
	<%= link_to "Editar", edit_article_path(@article), class: "btn btn-warning" %>	
</div>  
