<div class="jumbotron text-center">
	<div class="container">
		<h1>Bienvenido a Alpha Blog</h1>
		<p>En esta aplicación puedes llevar tu propio Blog, puedes visitar algunos <%= link_to "artículos", articles_path%>.</p>
		<p>
			<!--<a class="btn btn-primary btn-lg">Crear Nuevo Artículo</a>-->
			<%= link_to "Crear Cuenta", "", class: "btn btn-primary btn-lg" %>
		</p>
	</div>
</div>