<div class="container text-center">
	<footer class="footer">
		<small>
			Copyrigth &copy; <a href="https://github.com/jsmorales/alpha-blog/" target="_blank">Alpha Blog</a>
			by <a href="https://github.com/jsmorales" target="_blank">jsmorales (github)</a>
		</small>
	</footer>
</div>